.chat-side
  .user
    .user__name
      = current_user.name
    = link_to edit_user_registration_path, class: 'icon' do
      %icon.fa.fa-cog
    = link_to new_group_path, class: 'icon' do
      %icon.fa.fa-pencil-square-o
  = render @groups
