= render 'side'
.chat-main
  .top
    .top__gruop
      .top__gruop--name テストグループ1
      .top__gruop--member Members: 荒木真
    .top__edit Edit
  .chat
    .chat__box
      .chat__box--name 荒木真
      .chat__box--date 2017/02/12 01:29:36
      .chat__box--text テスト投稿その1
    .chat__box
      .chat__box--name 荒木真
      .chat__box--date 2017/02/12 01:29:36
      .chat__box--text テスト投稿その2
  .message
    .message__box
      .message__box--message type a message
      .icon.fa.fa-picture-o
    .message__send Send
